.btn {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  background-color: #3f51b5;
  color: #fff;
  font-family: inherit;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #303f9f;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.btn:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
